@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply text-white;
		@apply bg-zinc-700;
		@apply text-lg;
	}
}

* {
	scrollbar-width: thin;
	scrollbar-color: rgb(113 113 122 / var(--tw-bg-opacity, 1))
		rgb(39 39 42 / var(--tw-bg-opacity, 1));
}

body {
	width: 100vw;
	height: 100vh;
}
